{% extends "base.html" %}

{% block title %}Welcome to Pocket Farmer{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if fact %}
    <div class="moving-panel">
        <p>{{ fact }}</p>
    </div>
    {% endif %}

    <header class="hero">
        <div class="slideshow-container">
            <div class="slide" style="background-image: url('{{ url_for('static', filename='images/cow-7395115_1280.jpg') }}');"></div>
            <div class="slide" style="background-image: url('{{ url_for('static', filename='images/goat-4884605_1280.jpg') }}');"></div>
            <div class="slide" style="background-image: url('{{ url_for('static', filename='images/chicken-7761575_1280.jpg') }}');"></div>

        </div>
        <div class="hero-content">
            <h1>Revolutionizing Livestock Management</h1>
            <p>Smart, simple, and effective tools for the modern farmer.</p>
        </div>
    </header>

    <main class="container">
        <h2 class="section-title">Core Features</h2>
        <div class="dashboard-widgets">
            <div class="widget">
                <div class="icon"><i class="fas fa-paw"></i></div>
                <h3>Herd Tracking</h3>
                <p>Log and monitor your animals with ease, even offline.</p>
            </div>
            <div class="widget">
                <div class="icon"><i class="fas fa-search-plus"></i></div>
                <h3>Symptom Scanner</h3>
                <p>Analyze photos for common diseases using cutting-edge AI.</p>
                <a href="{{ url_for('scanner.scanner') }}" class="btn-details">Try Scanner</a>
            </div>
            <div class="widget">
                <div class="icon"><i class="fas fa-bell"></i></div>
                <h3>Outbreak Alerts</h3>
                <p>Stay informed about local disease outbreaks to protect your herd.</p>
            </div>
        </div>
    </main>
{% endblock %}